
/* Buttons */
button {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button {
    background-color: #ffa500;
    color: #ffffff;
  }
  
  .login-button:hover {
    background-color: #ff8c00;
  }
  
  .register-button {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: #ffffff;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }


.modify-btn {
  background-color: var(--primary);
  color: var(--text);
}

.modify-btn:hover {
  background-color: var(--accent);
  transform: scale(1.05);
}

.delete-btn {
  background-color: var(--highlight);
  color: var(--text);
}

.delete-btn:hover {
  background-color: #ff3b36;
  transform: scale(1.05);
}

