/* AddBook.css y EditBook.css */
.add-book-fullscreen,
.edit-book-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.add-book-container,
.edit-book-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

.add-book-container h2,
.edit-book-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-book-form label,
.edit-book-form label {
    font-weight: bold;
    color: #333;
}

.add-book-form input,
.edit-book-form input,
.add-book-form select,
.edit-book-form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.add-book-button,
.edit-book-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.add-book-button:hover,
.edit-book-button:hover {
    background-color: #218838;
}

.cancel-button:hover {
    background-color: #c82333;
}
