body {
    margin: 0;
    height: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    background-color: #282c34;
    text-align: center;
    display: flex;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center-align the nav items horizontally */
}

nav ul li {
    margin: 0 15px; /* Space between nav items */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; /* Change color on hover */
}

label {
    display: block;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
    text-align: center;
  }
  
  h1,h2,h3,h4,h5,h6 {
    display: block;
    color: white;
    margin-bottom: 8px;
    text-align: center;
  }