.libro-list-container {
    padding: 20px;
    background-color: #3f3f4f;
    border-radius: 8px;
    color: #f0f0f0;
    max-width: 800px; /* Aumentado para más espacio */
    margin: 0 auto;
}

.libro-list-title {
    font-size: 28px; /* Aumentado para mayor visibilidad */
    color: #f39c12;
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 12px; /* Aumentado para hacer más grande */
    font-size: 16px; /* Más legible */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 30px; /* Más espacio debajo */
}

.libro-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.libro-item {
    background-color: #54546c;
    padding: 20px; /* Más relleno interno */
    border-radius: 10px;
    margin-bottom: 15px; /* Más espacio entre los elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; /* Aumentado para mejor visibilidad */
}

.libro-info {
    flex: 1;
    margin-right: 20px;
    line-height: 1.8; /* Más espacio entre líneas */
}

.buttons-container {
    display: flex;
    gap: 15px; /* Más separación entre botones */
}

.modify-btn, .delete-btn {
    padding: 12px 20px; /* Botones más grandes */
    font-size: 16px; /* Más grande */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.modify-btn {
    background-color: #3498db;
}

.modify-btn:hover {
    background-color: #2980b9;
}

.delete-btn {
    background-color: #e74c3c;
}

.delete-btn:hover {
    background-color: #c0392b;
}
